################################################
# !!!! DO NOT DELETE ANY FIELD OF THIS FILE !!!!
################################################

# Third party libraries
boost_root = 'E:/Programming/Library/boost_1_44_0'

# Build Paths
build_path = '.\\build'

# Install Paths
install_path = './'

# Target platforms
# Arch: 'AMD64' or 'i386'
arch = 'AMD64' # or 'i386'

# Toolsets
# toolset = 'msvc-10.0', 'msvc-9.0', 'msvc-8.0', 'gcc-4.3', etc, or None.
toolset = 'msvc-10.0' #None for default compiler.
cmake = "D:/Software/CMake 2.8/bin/cmake.exe"